@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Madimi+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Slackside+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zhi+Mang+Xing&display=swap");

.hero-pattern {
    background: rgb(239, 239, 235);
    background: linear-gradient(180deg, rgba(217, 217, 209, 1) 30%, rgb(239, 239, 235, 1) 50%);
}

#hero-text {
    line-height: 1.2;
    
}
