.hero-pattern {
    background: linear-gradient(180deg, rgba(217, 217, 209, 1) 30%, rgb(239, 239, 235, 1) 50%);
}

#hero-text {
    line-height: 1.2;
}

.dark-section {
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
}
